<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655715951200-ghfj37sqmb085eeck0v6nghs4gdi995n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655715951200-ghfj37sqmb085eeck0v6nghs4gdi995n</string>
	<key>API_KEY</key>
	<string>AIzaSyApGqBV0mVoNppmjr92OT0eGymS7FS5RsY</string>
	<key>GCM_SENDER_ID</key>
	<string>655715951200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalHackathon</string>
	<key>PROJECT_ID</key>
	<string>users-authentication-84704</string>
	<key>STORAGE_BUCKET</key>
	<string>users-authentication-84704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655715951200:ios:5642ebad392b75c8275905</string>
</dict>
</plist>